<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados dos Professores</title>
</head>
<body>
    <form action="list-prof"></form>
    <h1>Lista de Professores</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Disciplina</th>
                <th>Email</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João da Silva</td>
                <td>joao@email.com</td>
                <td>(11) 1234-5678</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
