<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Controle</title>
</head>

<body>

    <form action="logout-adm" method="post">
        <button value="Sair" name="sair">Sair</button>
        <a href="/view-db"><button type="button" class="btn btn-block btn-login"><i class="fas fa-sign-in-alt"></i>Ver
                DB Prof</button></a>
        <a href="/cad-prof"><button type="button" class="btn btn-block btn-login"><i
                    class="fas fa-sign-in-alt"></i>Cadastrar Professor</button></a>
        <a href="/cad-alun"><button type="button" class="btn btn-block btn-login"><i
                    class="fas fa-sign-in-alt"></i>Cadastrar Aluno</button></a>
        <a href="/cad-mat"><button type="button" class="btn btn-block btn-login"><i
                    class="fas fa-sign-in-alt"></i>Cadastrar Materia</button></a>
        <a href="/cad-turm"><button type="button" class="btn btn-block btn-login"><i
                    class="fas fa-sign-in-alt"></i>Cadastrar Turma</button></a>
        <a href="/cad-turm"><button type="button" class="btn btn-block btn-login"><i
                    class="fas fa-sign-in-alt"></i>Cadastrar Notas</button></a>
    </form>
</body>

</html>