
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola XYZ - Login ADM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/style-cad.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div th:insert="~{fragments/header :: header}"><!-- barra de menu --></div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="register-container">
                    <div class="card">
                        <div class="card-header">
                            <h3>Cadastro</h3>
                        </div>
                        <div class="card-body">
                            <form action="/cadastro-nota" method="post">
                                <div class="form-group">
                                    <label for="nome">Materia:</label>
                                    <label for="nome">NOME DELA</label>
                                </div>

                                <label for="aluno">Alunos:</label>
                                <select id="aluno" name="aluno" required>
                                    <option value="aluno">Selecionar aluno</option>
                                    <th:block th:each="aluno : ${alunos}">
                                        <option th:value="${aluno.cpf}" th:text="${aluno.nome}">Nome do
                                            aluno</option>
                                    </th:block>
                                </select>

                                
                                <div class="form-group">
                                    <label for="coddisciplina">Nota:</label>
                                    <input type="text" class="form-control" placeholder="Nota" id="nota"
                                        name="nota">
                                </div>


                                <button type="submit" class="btn btn-block btn-register"><i
                                        class="fas fa-user-plus"></i>Cadastrar</button>
                                <button type="button" class="btn btn-block btn-register"> Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <script>
    const noteForm = document.getElementById('note-form');
    const notesList = document.getElementById('notes-list');

    noteForm.addEventListener('submit', function (event) {
        event.preventDefault();

        const subject = document.getElementById('subject').value;
        const note = document.getElementById('note').value;

        if (subject && note) {
            const newNote = document.createElement('li');
            newNote.textContent = `Matéria: ${subject}, Nota: ${note}`;
            notesList.appendChild(newNote);

            // Clear the form
            noteForm.reset();
        }
    });
</script>
 -->

</html>